h3,h4,p{
  font-family: Roboto, Arial, sans-serif;
}

.uploadzone {
  min-height: 400px;
  min-width: 400px;
  display: table;
  width: 100%;
  background-color:   #eee;
  border: grove 1px #111;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align:center;
}