<div style="padding: 15px;">
	<div>
		<div class="uploadzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
			<div class="text-wrapper">
				<div class="centered">Drop here!</div>
			</div>
		</div>
	</div>
	<div>
		<mat-list>
			<h3 mat-subheader>Files</h3>
			<mat-list-item *ngFor="let file of files">
				<mat-icon mat-list-icon>folder</mat-icon>
				<h4 mat-line>{{file.name}}</h4>
				<button mat-raised-button color="warn" (click)="deleteFile(file)">Delete</button>
				<mat-divider></mat-divider>
			</mat-list-item>
		</mat-list>
	</div>
</div>